<!--
  TAILWIND
  bg-indigo-600
  bg-gray-200
  hover:bg-gray-300
  text-white
  text-gray-600
-->

<div
  v-component
  v-data:filtering="false"
  class="m-8 flex flex-col items-start"
>
  <div class="flex items-center">
    <p>Filter:</p>
    <div class="bg-gray-200 dark:bg-gray-700 rounded p-1 ml-2">
      <button
        v-class:bg-indigo-600="!filtering"
        v-class:bg-gray-200="filtering"
        v-class:hover:bg-gray-300="filtering"
        v-class:text-white="!filtering"
        v-class:text-gray-600="filtering"
        v-class:dark:bg-indigo-500="!filtering"
        v-class:dark:bg-gray-700="filtering"
        v-class:dark:hover:bg-gray-600="filtering"
        v-class:dark:text-white="!filtering"
        v-class:dark:text-gray-300="filtering"
        v-event:click="filtering = false"
        class="bg-indigo-600 text-white rounded-sm px-3 py-1"
      > Off </button>
      <button
      v-class:bg-indigo-600="filtering"
      v-class:bg-gray-200="!filtering"
      v-class:hover:bg-gray-300="!filtering"
      v-class:text-white="filtering"
      v-class:text-gray-600="!filtering"
      v-class:dark:bg-indigo-500="filtering"
      v-class:dark:bg-gray-700="!filtering"
      v-class:dark:hover:bg-gray-600="!filtering"
      v-class:dark:text-white="filtering"
      v-class:dark:text-gray-300="!filtering"
        v-event:click="filtering = true"
        class="bg-gray-200 text-gray-600 rounded-sm px-3 py-1"
      > On </button>
    </div>
  </div>
  <ul class="mt-4 ml-8 list-disc">
    <li
      v-component="filterable-list-item"
      v-data:record='{ "id": 1, "title": "Item A" }'
      v-pass:filtering
      v-if="shouldShow"
      class="mt-2"
    ><p v-text="record.title"></p></li>
    <li
      v-component="filterable-list-item"
      v-data:record='{ "id": 2, "title": "Item B" }'
      v-pass:filtering
      v-if="shouldShow"
      class="mt-2"
    ><p v-text="record.title"></p></li>
    <li
      v-component="filterable-list-item"
      v-data:record='{ "id": 3, "title": "Item C" }'
      v-pass:filtering
      v-if="shouldShow"
      class="mt-2"
    ><p v-text="record.title"></p></li>
    <li
      v-component="filterable-list-item"
      v-data:record='{ "id": 4, "title": "Item D" }'
      v-pass:filtering
      v-if="shouldShow"
      class="mt-2"
    ><p v-text="record.title"></p></li>
  </ul>
</div>
