<!--
  TAILWIND
  text-red-700
-->

<div
  v-component="fancy-counter"
  class="flex items-center"
>
  <button
    v-event:click="decrementCount"
    v-disabled="!canDecrement"
    class="button"
    disabled
  >-</button>
  <p
    v-text="countString"
    v-class:text-red-700::dark:text-red-400="countHigh"
    class="flex-1 text-center"
  ></p>
  <button
    v-event:click="count += 1"
    class="button"
  >+</button>
</div>
