<div
  v-component
  v-data:disabled="true"
  class="flex items-center space-x-4"
>
  <button
    v-event:click="disabled = !disabled"
    class="button flex-1"
  >Toggle Disabled</button>
  <button
    v-disabled="disabled"
    class="button flex-1"
  >Another Button</button>
</div>
