@import './markdown.css';

/* TAILWIND */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* DEFAULTS */

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

*[hidden] { display: none; }


/* DARK MODE */

.dark {
  @apply bg-gray-900 text-white;
}
.dark *, .dark :before, .dark :after {
  @apply border-gray-700;
}


/* LAYOUTS */

.k-container {
  @apply container mx-auto px-4 lg:px-0 min-h-screen;
}

.k-grid {
  @apply grid-cols-12 gap-x-6;
}
@screen md {
  .k-grid {
    @apply grid;
  }
}


/* LINKS */

a { @apply transition-all; }
a > * { @apply transition-all; }

.text-link { @apply transform underline text-indigo-600; }
.dark .text-link { @apply text-indigo-300; }
.text-link:hover { @apply text-indigo-900 -translate-y-0.5; }
.dark .text-link:hover { @apply text-indigo-400; }

/* BUTTONS */

button.button {
  @apply transition-all bg-white border border-gray-400 rounded shadow-md px-4 py-2;
}
button.button:hover {
  @apply shadow-lg;
}
button.button:active {
  @apply shadow-none;
}
button:disabled {
  @apply opacity-50 cursor-not-allowed shadow-none;
}

.dark button.button {
  @apply bg-gray-800;
}
.dark button:disabled {
  @apply border-gray-500;
}


/* INPUTS */

input[type='text'], textarea, select {
  @apply w-64 rounded px-3 py-1 border-2 border-gray-300;
}
.dark input[type='text'], .dark textarea, .dark select {
  @apply bg-gray-800 border-gray-700;
}

input[type='checkbox'] {
  @apply h-8 w-8;
}
