@import './markdown.css';

/* TAILWIND */

@tailwind base;
@tailwind components;
@tailwind utilities;


/* DEFAULTS */

html {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

*[hidden] { display: none; }


/* LAYOUTS */

.k-container {
  @apply container mx-auto px-4 lg:px-0;
}

.k-grid {
  @apply grid-cols-12 gap-x-6;
}
@screen lg {
  .k-grid {
    @apply grid;
  }
}


/* LINKS */

a { @apply transition-all; }
a > * { @apply transition-all; }


/* BUTTONS */

button.button {
  @apply transition-all border border-gray-400 rounded shadow px-3 py-1;
}
button.button:hover {
  @apply shadow-lg;
}
button.button:active {
  @apply shadow-none;
}
button:disabled {
  @apply opacity-50 cursor-not-allowed shadow-none;
}


/* INPUTS */

input[type='text'], textarea, select {
  @apply w-64 rounded px-3 py-1 border-2 border-gray-300;
}
input[type='checkbox'] {
  @apply h-8 w-8;
}