<div
  v-component="v-href"
  class="flex items-center space-x-4"
>
  <button
    v-event:click="toggleLink"
    class="button flex-1"
  >Toggle Link</button>
  <div class="flex-1 text-center">
    <a
      v-href="href"
      v-text="label"
      class="text-link"
      target="_blank"
    ></a>
  </div>
</div>
