<p class="text-lg font-mono text-gray-500 dark:text-gray-400">
  <span class="text-indigo-600 dark:text-indigo-400"><%= method.name %></span><span>(</span><%- method.args?.map((a) => { return `<span class="text-pink-600 dark:text-pink-400">${a.name}${ a.type != null ? ': <span class="text-purple-600 dark:text-purple-400 text-base">' + a.type + '</span>' : ''}</span>` }).join('<span>,</span> ') %></span><span>)</span>
</p>