<div
  v-component
  v-data:show-message="false"
  class="flex items-center"
>
  <button
    v-event:click="showMessage = !showMessage"
    class="button"
  >Toggle Message</button>
  <p
    v-show="showMessage"
    class="ml-4"
  >This is a secret, hidden message!</p>
</div>
