<div
  v-component
  class="flex items-center space-x-4"
>
  <input
    v-ref='text'
    type='text'
    placeholder='Waiting for input...'
    class="flex-1"
  ></input>
  <button
    class="button lg:w-32"
    v-event:click="$refs.text.focus"
  >Focus</button>
</div>
