---
layout: default
title: index
---

<div class="k-grid">
  <div
    class="col-start-3 col-end-10 flex flex-col justify-center"
    style="height: 90vh"
  >
    <p class="text-6xl text-indigo-600 dark:text-indigo-400 lg:text-7xl font-serif font-semibold">vivere</p>
    <p class="text-3xl lg:text-4xl mt-8 leading-normal lg:leading-relaxed">A lightweight Javascript framework to turn your boring old HTML into fully reactive components.</p>
    <div class="flex items-center mt-8 text-lg space-x-4">
      <a class="underline text-indigo-600 dark:text-indigo-300 hover:text-indigo-900 dark:hover:text-indigo-400 transform hover:-translate-y-0.5" href="/getting-started/installation">Documentation</a>
      <a class="underline text-indigo-600 dark:text-indigo-300 hover:text-indigo-900 dark:hover:text-indigo-400 transform hover:-translate-y-0.5" href="https://github.com/cwhitehouse/vivere">GitHub</a>
      <a class="underline text-indigo-600 dark:text-indigo-300 hover:text-indigo-900 dark:hover:text-indigo-400 transform hover:-translate-y-0.5" href="https://www.npmjs.com/package/vivere">npm</a>
    </div>
  </div>
</div>
