<div
  v-component
  v-data:text="null"
  v-data:paragraph="null"
  v-data:selection="null"
  v-data:checked="false"
  v-data:radio-selection="null"
  class="grid grid-cols-8 gap-x-4 gap-y-4"
>
  <div class="col-span-3">
    <input
      type="text"
      v-sync="text"
      placeholder="Try me!"
      class="max-w-full"
    />
  </div>
  <p
    v-text="text"
    class="col-span-3 whitespace-pre-wrap break-all pt-1 mt-0.5 text-center"
  ></p>
  <div class="col-span-2">
    <button
      v-event:click="text = 'Reset!'"
      class="button w-full"
    >Reset</button>
  </div>

  <div class="col-span-3">
    <textarea
      v-sync="paragraph"
      placeholder="Try me!"
      class="max-w-full"
    ></textarea>
  </div>
  <p
    v-text="paragraph"
    class="col-span-3 whitespace-pre-wrap break-all pt-1 mt-0.5 text-center"
  ></p>
  <div class="col-span-2">
    <button
      class="button w-full"
      v-event:click="paragraph = 'Reset!'"
    >Reset</button>
  </div>

  <div class="col-span-3">
    <select
      v-sync="selection"
      class="max-w-full"
    >
      <option value="rome">Rome</option>
      <option value="paris">Paris</option>
      <option value="london">London</option>
      <option value="berlin">Berlin</option>
      <option value="tokyo">Tokyo</option>
      <option value="abuja">Abuja</option>
    </select>
  </div>
  <p
    v-text="selection"
    class="col-span-3 whitespace-pre-wrap break-all pt-1 mt-0.5 text-center"
  ></p>
  <div class="col-span-2">
    <button
      class="button w-full"
      v-event:click="selection = 'rome'"
    >Reset</button>
  </div>

  <div class="col-span-3">
    <input
      type="checkbox"
      v-sync="checked"
    />
  </div>
  <p
    v-text="checked"
    class="col-span-3 whitespace-pre-wrap break-all pt-1 mt-0.5 text-center"
  ></p>
  <div class="col-span-2">
    <button
      class="button w-full"
      v-event:click="checked = !checked"
    >Toggle</button>
  </div>
</div>
