<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= title || siteData.name %></title>

    <link rel="stylesheet" href="/styles/main.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&family=IBM+Plex+Sans:wght@400;600&family=IBM+Plex+Serif:wght@600&display=fallback" rel="stylesheet">
  </head>
  <body class="transition-all">
    <main class="k-container relative">
      <%- content %>
    </main>
    <%- include('/page/footer') %>
  </body>
  <script type="module" src="/scripts/main.js"></script>
</html>