---
layout: default
---

<div class="k-grid relative z-1">
  <div class="col-start-4 col-end-11 pt-40 pb-16 markdown">
    <%- content %>
  </div>
</div>
<div
  class="fixed top-0 left-0"
  style="width: calc(2*100%/12);"
>
  <div class="h-screen px-8 py-16 bg-gray-100 space-y-2 flex flex-col">
    <a href="/">
      <p class="text-2xl font-serif font-semibold">vivere</p>
    </a>
    <p class="text-xs font-semibold text-gray-500 pb-2 pt-16">GETTING STARTED</p>
    <a href="/getting-started/installation">Installation</a>
    <a href="/getting-started/concepts">Concepts</a>
    <a href="/getting-started/examples">Examples</a>
    <p class="text-xs font-semibold text-gray-500 pb-2 pt-16">DOCUMENTATION</p>
    <p>Components</p>
    <p>Directives</p>
  </div>
</div>