---
layout: default
---

<div class="k-grid relative z-1">
  <div class="col-start-1 lg:col-start-4 col-end-12 lg:col-end-11 py-24 lg:py-16 markdown">
    <%- content %>
  </div>
</div>
<div class="absolute left-0 top-0 ml-4 mt-8">
  <button
    v-event:click.delay="showNav = true"
    class="button"
  > = </button>
</div>
<%- include('/documentation/side-nav') %>
